@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/*This is here to solve the issue of the navbar height not bring taken into account*/


/*We declare a specfic height to push the content down and then have a negative margin to absorb the excess*/

section::before {
    display: block;
    content: "";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}