#huge {
    border: 0px solid yellow;
}

#text_1 {
    margin-top: 10px;
}

#mainText {
    border: 0px solid yellow;
}

#mainText em {
    border: 0px solid yellow;
    color: #0079C1;
}

#profile {
    border: 0px;
}